* {
    margin: 0;
    padding: 0;
    font-size: 30px;
    text-decoration: none;

}

body {
    font-family: sans-serif;
    background-color: #000;
    color: #fff;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

.header img {
    width: 150px;
    height: 150px;
    overflow: hidden;

    padding-top: 20px;


}

.header div {
    padding-top: 20px;

}
.contianer .all{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.list{
    width: 50vh;
    padding: 12px;
    margin: 8px;
    border-radius: 3px;
    background-color: #080d3b;
    transition: 0.5s;
    
    
}
.contianer .list a{
    color: #fff;
    align-items: center;
    font-size: 25px;
    display: flex;
    justify-content: center;
    transition: 0.5s;
    
}
.list:hover{
    background-color: #6d9999;
}
.contianer .list a:hover{
    color: #000;
}





@media(max-width:405px){
    .list{
        width: 40vh;
        padding: 12px;
        margin: 8px;
        border-radius: 3px;
        background-color: #080d3b;
        
        
    }
}
@media(min-width:800px){
    .list{
        width: 80vh;
        padding: 12px;
        margin: 8px;
        border-radius: 3px;
        background-color: #080d3b;
        
        
    }
}
    
